In [11]:
import pandas as pd

table_split = {'sales_prd': ['Semana','Agencia_ID','Canal_ID','Ruta_SAK','Cliente_ID','Producto_ID'],
              'sales_rtn':['Semana','Venta_uni_hoy','Venta_hoy','Dev_uni_proxima','Dev_proxima', 'Demanda_uni_equil']}

# create a store
#store = pd.HDFStore('mystore.h5')
for df in pd.read_hdf('mystore.h5', key = 'sales_rtn', chunksize = 20000):
    print(df)
    break

#for iterator in pd.read_csv('data/train.csv', iterator = True, chunksize = 20000):
    #store.append_to_multiple(table_split, iterator, selector = 'sales_rtn')

       Semana  Venta_uni_hoy  Venta_hoy  Dev_uni_proxima  Dev_proxima  \
0           3              3      25.14                0          0.0
1           3              4      33.52                0          0.0
2           3              4      39.32                0          0.0
3           3              4      33.52                0          0.0
4           3              3      22.92                0          0.0
5           3              5      38.20                0          0.0
6           3              3      20.28                0          0.0
7           3              6      56.10                0          0.0
8           3              4      24.60                0          0.0
9           3              6      31.68                0          0.0
10          3              8      62.24                0          0.0
11          3              4      21.52                0          0.0
12          3             12      75.00                0          0.0
13          3              7      43.75                0          0.0
14          3             10      62.50                0          0.0
15          3              5      15.10                0          0.0
16          3              3      21.12                0          0.0
17          3              3      21.12                0          0.0
18          3              8      36.00                0          0.0
19          3             12      90.00                0          0.0
20          3              8      60.00                0          0.0
21          3              4      39.64                0          0.0
22          3              5      22.90                0          0.0
23          3             18     172.80                0          0.0
24          3             18     561.60                0          0.0
25          3             19     378.86                0          0.0
26          3             12     374.40                0          0.0
27          3              1     148.50                0          0.0
28          3              8     159.52                0          0.0
29          3              3      64.17                0          0.0
...       ...            ...        ...              ...          ...
19970       3              5     106.95                0          0.0
19971       3              6     119.64                0          0.0
19972       3              5      75.05                0          0.0
19973       3              7      67.20                0          0.0
19974       3              5     106.95                0          0.0
19975       3              1      13.96                0          0.0
19976       3             10     199.40                0          0.0
19977       3              3      48.00                0          0.0
19978       3              2      42.64                0          0.0
19979       3              3      49.05                0          0.0
19980       3              2      29.58                0          0.0
19981       3              2      19.20                0          0.0
19982       3              5      75.05                0          0.0
19983       3              5      48.00                0          0.0
19984       3              2      35.20                0          0.0
19985       3              2      42.78                0          0.0
19986       3              2      27.92                0          0.0
19987       3              3      59.82                0          0.0
19988       3              1      16.35                0          0.0
19989       3              2      23.82                0          0.0
19990       3              8      71.36                0          0.0
19991       3              1      21.32                0          0.0
19992       3              3      45.03                0          0.0
19993       3             27     259.20                0          0.0
19994       3              5      88.00                0          0.0
19995       3              4      85.56                0          0.0
19996       3             11     153.56                0          0.0
19997       3              1      21.32                0          0.0
19998       3              7     114.45                0          0.0
19999       3              4      35.68                0          0.0

       Demanda_uni_equil
0                      3
1                      4
2                      4
3                      4
4                      3
5                      5
6                      3
7                      6
8                      4
9                      6
10                     8
11                     4
12                    12
13                     7
14                    10
15                     5
16                     3
17                     3
18                     8
19                    12
20                     8
21                     4
22                     5
23                    18
24                    18
25                    19
26                    12
27                     1
28                     8
29                     3
...                  ...
19970                  5
19971                  6
19972                  5
19973                  7
19974                  5
19975                  1
19976                 10
19977                  3
19978                  2
19979                  3
19980                  2
19981                  2
19982                  5
19983                  5
19984                  2
19985                  2
19986                  2
19987                  3
19988                  1
19989                  2
19990                  8
19991                  1
19992                  3
19993                 27
19994                  5
19995                  4
19996                 11
19997                  1
19998                  7
19999                  4

[20000 rows x 6 columns]